<nav class="navbar navbar-default row">
        <div class="container-fluid">
            <div class="navbar-header col-lg-6" style='font-size: 45px'>
                <label>Agenda Telefonica</label>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-offset-2 col-lg-10">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input ng-model="buscar.texto" type="text" class="form-control" placeholder="Search" style="width: 450px; margin-top: 10px;">

                            <!--<button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>-->
                            <a href='#!/busqueda' class='btn btn-default glyphicon glyphicon-search'></a>
                            <a href='#!/registroContacto' class='btn btn-default'>Agregar</a>
                            <a href='#!/logout' class='btn btn-default'>Logout</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>