<div class='container-fluid'>
    <div class="col-lg-12" ng-include=" 'app/template/partial/encabezado.html'"></div>

    <div class="panel panel-body" style="height: 80vh;">
        <div class="row" style="margin-left: 5px; font-size: 25px;">
            <label>Busqueda de: Julian</label>
        </div>

        <div class="container">
            
            <!--<div class="panel panel-default col-lg-6" style="width: 400px;">-->
            <div class="panel panel-default col-lg-6">
                <div class="panel-body">
                    <div class="col-lg-4">
                        <img src="img/homero.jpg" class="img-circle" style='width: 100%;'>
                    </div>
                    <div class="col-lg-8" style="font-size: 20px;">
                        <label>Jesus Andres Gonzalez A</label>
                        <br>
                        <label>Telefono : 3147284067</label>
                        <br>
                        <label>Correo : jesusandres98misena.edu.co</label>
                    </div>

                </div>
            </div>
            
            <div class="panel panel-default col-lg-6">
                <div class="panel-body">
                    <div class="col-lg-4">
                        <img src="img/homero.jpg" class="img-circle" style='width: 100%;'>
                    </div>
                    <div class="col-lg-8">
                        <label>Jesus Andres Gonzalez A</label>
                        <br>
                        <label>Telefono : 3147284067</label>
                        <br>
                        <label>Correo : jesusandres98misena.edu.co</label>
                    </div>

                </div>
            </div>
            
            <div class="panel panel-default col-lg-6">
                <div class="panel-body">
                    <div class="col-lg-4">
                        <img src="img/homero.jpg" class="img-circle" style='width: 100%;'>
                    </div>
                    <div class="col-lg-8">
                        <label>Jesus Andres Gonzalez A</label>
                        <br>
                        <label>Telefono : 3147284067</label>
                        <br>
                        <label>Correo : jesusandres98misena.edu.co</label>
                    </div>

                </div>
            </div>
            
        </div>
    </div>

</div>